@model CameraStore.Models.Feedback

@{
    ViewData["Title"] = "Update feedback";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Basic Inputs</h4>
    <div class="row">
        <!-- Form controls -->
        <div class="col-md-12">
            <div class="card mb-4">
                <h4 class="card-header" style="text-align:center">UPDATE FEEBACK</h4>
                <form asp-controller="Feedback" asp-action="Edit" enctype="multipart/form-data" method="post">
                    <div class="card-body">
                        <div class="mb-3">
                            <span asp-validation-for="feedID"></span>
                            <label for="exampleFormControlReadOnlyInput1" class="form-label">ID</label>
                            <input class="form-control"
                                   type="text"
                                   asp-for="feedID"
                                   id="updateFeedID"
                                   placeholder="ID"
                                   readonly />
                        </div>
                        <div class="mb-3">
                            <label asp-for="customerID" class="form-label">Customer</label>
                            <select asp-for="customerID" asp-items="ViewBag.customerID" class="form-select" id="updateFeedCus" aria-label="Default select example">
                                <option>Choose the customer of feedback</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="proID" class="form-label">Product</label>
                            <select asp-for="proID" asp-items="ViewBag.proID" class="form-select" id="updateFeedPro" aria-label="Default select example">
                                <option>Choose the product of feedback</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <span asp-validation-for="feedDescription"></span>
                            <label asp-for="feedDescription" for="exampleFormControlTextarea1" class="form-label">Enter comment of feedback</label>
                            <textarea asp-for="feedDescription" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="col-sm-10">
                            <a asp-controller="Customer" asp-action="Index" class="btn btn-primary">Back to list</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
