@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Product>

<!-- Header Section End -->
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="../cameraStoreLayout/img/hero/1.png"></div>
        <div class="hero__items set-bg" data-setbg="../cameraStoreLayout/img/hero/2.png"></div>
        <div class="hero__items set-bg" data-setbg="../cameraStoreLayout/img/hero/3.png"></div>
    </div>
</section>
<!-- Hero Section End -->
<section class="product spad">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="row product__filter">
                <!-- Hiển thị tất cả category -->
                @foreach (var product in Model)
                {
                    <div class="col-md-4 col-xs-6">
                        <div class="shop">
                            <div class="shop-img" style="max-width:500px; height:200px;">
                                <img src="~/Image/@product.Category.cateUrlImage" alt="">
                            </div>
                            <div class="shop-body">
                                <h3>@product.Category.cateName</h3>
                                <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</section>
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>New product</h2>
                    </div>
                </div>
            </div>
            <div class="row product__filter">
                @foreach (var product in Model)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <img src="~/Image/@product.proUrlImage" style="height:260px;width:204px" alt="">
                                <span class="label">@product.proStatus</span>
                            </div>
                            <div class="product__item__text">
                                <h6>@product.proName</h6>
                                <a class="menu-link" asp-area="" asp-controller="Cart" asp-action="AddToCart" class="add-cart">
                                    + Add To Cart
                                </a>
                                <h5>@product.proPrice</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <!-- Product Section End -->
    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="categories__text">
                        <h2>Clothings Hot <br /> <span>Shoe Collection</span> <br /> Accessories</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__hot__deal">
                        <img src="../cameraStoreLayout/img/product-sale.png" alt="">
                        <div class="hot__deal__sticker">
                            <span>Sale Of</span>
                            <h5>$29.99</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>Deal Of The Week</span>
                        <h2>Multi-pocket Chest Bag Black</h2>
                        <div class="categories__deal__countdown__timer" id="countdown">
                            <div class="cd-item">
                                <span>3</span>
                                <p>Days</p>
                            </div>
                            <div class="cd-item">
                                <span>1</span>
                                <p>Hours</p>
                            </div>
                            <div class="cd-item">
                                <span>50</span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd-item">
                                <span>18</span>
                                <p>Seconds</p>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Flash Deals</span>
                        <h2>Sale</h2>
                    </div>
                </div>
            </div>
            <div class="row product__filter">
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item sale">
                        <div class="product__item__pic set-bg" data-setbg="../cameraStoreLayout/img/product/product-3.jpg">
                            <span class="label">Sale</span>
                        </div>
                        <div class="product__item__text">
                            <h6>Multi-pocket Chest Bag</h6>
                            <a class="menu-link" asp-area="" asp-controller="Product" asp-action="productDetail" class="add-cart">
                                Quick view
                            </a>
                            <h5>$43.48</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->
    <!-- Latest Blog Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Best selling</h2>
                    </div>
                </div>
            </div>
            <div class="row product__filter">
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item sale">
                        <div class="product__item__pic set-bg" data-setbg="../cameraStoreLayout/img/product/product-3.jpg">
                            <span class="label">Sale</span>
                        </div>
                        <div class="product__item__text">
                            <h6>Multi-pocket Chest Bag</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <h5>$43.48</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->
    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Latest News</span>
                        <h2>Fashion New Trends</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="../cameraStoreLayout/img/blog/blog-1.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="../cameraStoreLayout/img/icon/calendar.png" alt=""> 16 February 2020</span>
                            <h5>What Curling Irons Are The Best Ones</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="../cameraStoreLayout/img/blog/blog-2.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="../cameraStoreLayout/img/icon/calendar.png" alt=""> 21 February 2020</span>
                            <h5>Eternity Bands Do Last Forever</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="../cameraStoreLayout/img/blog/blog-3.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="../cameraStoreLayout/img/icon/calendar.png" alt=""> 28 February 2020</span>
                            <h5>The Health Benefits Of Sunglasses</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->
