@model IEnumerable<OrderDetail>

@{
    ViewData["Title"] = "Index";
    if (User.IsInRole("Owner"))
    {
        Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    }
}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <h5 class="card-header">Order Detail Table</h5>
            <div class="table-responsive">
                <table class="table table-striped table-bordered zero-configuration">
                    <thead>
                        <tr class="text-nowrap">
                            <th>Order</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var orderdetail in Model)
                        {
                            <tr>
                                <td>@orderdetail.orderID</td>
                                <td>@orderdetail.proID</td>
                                <td>@orderdetail.quantity</td>
                                <td>@orderdetail.unitPrice</td>
                                <th>
                                    <a asp-controller="Order" asp-action="Index"
                                       class="btn btn-primary">View order</a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>