@model CameraStore.Models.Customer

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!-- Sing in  Form -->
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/image/forgot.png" alt="sing up image"></figure>
                <a asp-area="" asp-controller="Authentication" asp-action="Login" class="signup-image-link">I am already member</a>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="signup-image-link"><i class="zmdi zmdi-home"></i>Continue Shopping</a>
            </div>
            <div class="signin-form">
                <h2 class="form-title">Forgot password</h2>
                <form method="POST" asp-controller="Authentication" asp-action="ForgotPassword" enctype="multipart/form-data" class="register-form" id="login-form">
                    <div class="form-group">
                        <label asp-for="email" for="your_name"></i></label>
                        <input type="text" asp-for="email" name="email" id="email" placeholder="Your Email" required />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


