@model CameraStore.Models.Customer

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>
    .form-group {
        position: relative;
    }

        .form-group label {
            position: absolute;
            left: 10px; /* Điều chỉnh vị trí của icon zmdi-lock */
            top: 50%; /* Đưa icon zmdi-lock vào giữa theo chiều cao */
            transform: translateY(-50%);
        }

        .form-group input {
            padding-left: 30px; /* Để tạo khoảng trống bên trái cho icon zmdi-lock */
        }

    .input-with-icon {
        position: relative;
    }

        .input-with-icon input {
            padding-right: 35px; /* Để tạo khoảng trống phía bên phải cho icon mắt */
        }

        .input-with-icon .toggle-password {
            position: absolute;
            right: 10px; /* Điều chỉnh vị trí của icon mắt */
            top: 50%; /* Đưa icon mắt vào giữa theo chiều cao */
            transform: translateY(-50%);
            cursor: pointer;
        }
</style>

<!-- Sing in  Form -->
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>
                <a asp-area="" asp-controller="Authentication" asp-action="Register" class="signup-image-link">Create an account</a>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="signup-image-link"><i class="zmdi zmdi-home"></i>Continue Shopping</a>
            </div>
            <div class="signin-form">
                <h2 class="form-title">Sign in</h2>
                <form method="POST" asp-controller="Authentication" asp-action="Login" enctype="multipart/form-data" class="register-form" id="login-form">
                    <div class="form-group">
                        <label asp-for="email" for="your_name"></i></label>
                        <input type="text" asp-for="email" name="email" id="email" placeholder="Your Email" />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="password" for="your_pass"></i></label>
                        <div class="input-with-icon">
                            <input type="password" asp-for="password" name="password" id="password" placeholder="Password" />
                            <span class="toggle-password">
                                <i class="fa fa-eye" id="toggleCurrentPassword"></i>
                            </span>
                        </div>
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div>
                        <a asp-controller="Authentication" asp-action="ForgotPassword">Forgot password</a>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const togglePassword = document.querySelector("#toggleCurrentPassword");
        const passwordInput = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
            passwordInput.setAttribute("type", type);
            this.classList.toggle("fa-eye");
            this.classList.toggle("fa-eye-slash");
        });
    });
</script>

