@model CameraStore.Models.Customer

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<section class="sign-in">
    <div class="container">
            <a asp-area="" asp-controller="Authentication" asp-action="Register" class="signup-image-link">Back to register</a>
            <h2 style="margin-left: 10px;">Terms of Service</h2>
            <p style="margin-right: 10px;margin-left: 10px;text-align: justify;">
                Below are our Terms of Service, which outline a lot of legal goodies, but the bottom line is it’s our aim to always take care of both you, as a customer, or as a seller on our platform. We’ve included many of these terms to legally protect ourselves, but if you have an issue, always feel free to email us at themes@getbootstrap.com and we’ll do our best to resolve it in a fair and timely fashion.
            </p>
            <h3 style="margin-left: 10px;">
                Application of Terms
            </h3>
            <p style="margin-right: 10px;margin-left: 10px;text-align: justify;">
                By visiting and/or taking any action on Bootstrap Themes, you confirm that you are in agreement with and bound by the terms outlined below. These terms apply to the website, emails, or any other communication.
            </p>
            <h3 style="margin-left: 10px;">
                Themes
            </h3>
            <p style="margin-right: 10px;margin-left: 10px;text-align: justify;">
                All products are 100% digital and delivered electronically to your email.
            </p>
            <h3 style="margin-left: 10px;">
                Security & Payments
            </h3>
            <p style="margin-right: 10px;margin-left: 10px;text-align: justify;">
                All payments are processed securely through PayPal or Stripe. Bootstrap Themes does not directly process payments through the website.
            </p>
            <h3 style="margin-left: 10px;">
                Refunds
            </h3>
            <p style="margin-right: 10px;margin-left: 10px;text-align: justify;">
                You have 14 days to evaluate your purchase. If your purchase fails to meet expectations set by the seller, or is critically flawed in some way, contact Bootstrap Themes and we will issue a full refund pending a review.
            </p>
            <h3 style="margin-left: 10px;">
                Support
            </h3>
            <p style="margin-right: 10px;margin-left: 10px;text-align: justify;">
                Support for a purchase is governed by the usage license you purchase.
            </p>
            <h3 style="margin-left: 10px;">
                Ownership
            </h3>
            <p style="margin-right: 10px;margin-left: 10px;text-align: justify;">
                Ownership of the product is governed by the usage licenses.
            </p>
            <h3 style="margin-left: 10px;">
                Membership & Content
            </h3>
            <p style="margin-right: 10px;margin-left: 10px;text-align: justify;">
                Membership is a benefit for those who follow our terms and policies. We may at any time suspend or terminate your account.
            </p>
            <p style="margin-right: 10px;margin-left: 10px;text-align: justify;">
                We can view and/or remove any content for any reason at our own discretion. This will typically only be exercised for issues needing immediate resolution, such as, but not limited to, the posting of unauthorized content, offensive content, illegal content, or anything breaching anyone else’s rights.
            </p>
            <h3 style="margin-left: 10px;">
                Liability
            </h3>
            <p style="margin-right: 10px;margin-left: 10px;text-align: justify;">
                You indemnify us against all losses, costs (including legal costs), expenses, demands or liability that we incur arising out of, or in connection with, any claims against us relating to your use of Bootstrap Themes.
            </p>
            <h3 style="margin-left: 10px;">
                Requesting, Modifying or Deleting Your Data (GDPR)
            </h3>
            <p style="margin-right: 10px;margin-left: 10px;text-align: justify;">
                We are a small operation, but we work hard to make sure your data remains safe and we only collect what is needed to provide our services. If you want to request an export of your data, a modification to any data we have related to your account, or delete of all data permanently, please email themes@getbootstrap.com and we’ll complete your request in a timely manner.
            </p>
            <h3 style="margin-left: 10px;">
                Changes to terms
            </h3>
            <p style="margin-right: 10px;margin-left: 10px;text-align: justify;">
                If we change our terms of use we will post those changes on this page.
            </p>
    </div>
</section>