@model CameraStore.Models.Customer
@{
    ViewData["Title"] = "Add new customer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Basic Inputs</h4>
    <div class="row">
        <!-- Form controls -->
        <div class="col-md-12">
            <div class="card mb-4">
                <h4 class="card-header" style="text-align:center">ADD NEW ACCOUNT</h4>
                <form asp-controller="Customer" asp-action="Create" enctype="multipart/form-data" method="post">
                <div class="card-body">
                    <div class="mb-3">
                        <span asp-validation-for="fullname"></span>
                            <label asp-for="fullname" for="exampleFormControlInput1" class="form-label">Full name</label>
                        <input type="text"
                               class="form-control"
                               asp-for="fullname"
                               id="uploadCusName"
                               placeholder="Enter full name of customer" />
                    </div>
                    <div class="mb-3">
                        <span asp-validation-for="email"></span>
                        <label asp-for="email"for="exampleFormControlInput1" class="form-label">Email</label>
                        <input type="email"
                               asp-for="email"
                               class="form-control"
                               id="uploadCusEmail"
                               placeholder="Enter email of customer" />
                    </div>
                    <div class="mb-3">
                         <span asp-validation-for="password"></span>
                        <label asp-for="password"for="exampleFormControlInput1" class="form-label">Password</label>
                        <input type="password"
                               asp-for="password"
                               class="form-control"
                               id="uploadCusPass"
                               placeholder="Enter password of customer" />
                    </div>
                    <div class="mb-3">
                        <span asp-validation-for="telephone"></span>
                        <label asp-for = "telephone" for="exampleFormControlInput1" class="form-label">Telephone</label>
                        <input type="text"
                               asp-for="telephone"
                               class="form-control"
                               id="uploadCusTele"
                               placeholder="Enter telephone of customer" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Role" class="form-label">Role</label>
                        <select asp-for = "roleID" asp-items="ViewBag.roleID" class="form-select" id="uploadCusRole" aria-label="Default select example">
                            <option>Choose the role of customer</option>
                        </select>
                    </div>
                    <div class="col-sm-10">
                        <a asp-controller="Customer" asp-action="Index" class="btn btn-primary">Back to list</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
