@model IEnumerable<CartDetails>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <h5 class="card-header">Cart Detail Table</h5>
            <div class="table-responsive">
                <table class="table table-striped table-bordered zero-configuration">
                    <thead>
                        <tr class="text-nowrap">
                            <th>Cart</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cartdetail in Model)
                        {
                            <tr>
                                <td>@cartdetail.cartID</td>
                                <td>@cartdetail.proID</td>
                                <td>@cartdetail.quantity</td>
                                <td>@cartdetail.price</td>
                                <td>
                                    <a asp-controller="Cart" asp-action="Index" class="btn btn-primary">View cart</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>