﻿
<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../AdminLayout"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Cameras Digital Store</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/image/logo1.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/AdminLayout/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/AdminLayout/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/AdminLayout/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/AdminLayout/css/demo.css" />
    <link rel="stylesheet" href="~/Plusgin/tables/css/datatable/dataTables.bootstrap4.min.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/AdminLayout/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="~/AdminLayout/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/AdminLayout/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/AdminLayout/js/config.js"></script>

</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="index.html" class="app-brand-link">
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">Camera Store</span>
                    </a>
                </div>
                <div class="menu-inner-shadow"></div>
                <ul class="menu-inner py-1">
                    <!-- Dashboard -->
                    <li class="menu-item">
                        <a class="menu-link" asp-area="" asp-controller="Publisher" asp-action="Index">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Dashboard</div>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" asp-area="" asp-controller="Product" asp-action="Index">
                            <i class="menu-icon tf-icons bx bxl-product-hunt"></i>
                            <div data-i18n="Basic">Product</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" asp-area="" asp-controller="Category" asp-action="Index">
                            <i class="menu-icon tf-icons bx bx-category"></i>
                            <div data-i18n="Boxicons">Category</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" asp-area="" asp-controller="Supplier" asp-action="Index">
                            <i class="menu-icon tf-icons bx bx-building"></i>
                            <div data-i18n="Boxicons">Supplier</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" asp-area="" asp-controller="Feedback" asp-action="Index">
                            <i class="menu-icon tf-icons bx bx-message-rounded-dots"></i>
                            <div data-i18n="Boxicons">Feedback</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" asp-area="" asp-controller="Order" asp-action="Index">
                            <i class="menu-icon tf-icons bx bx-file"></i>
                            <div data-i18n="Boxicons">Order</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" asp-area="" asp-controller="Cart" asp-action="Index">
                            <i class="menu-icon tf-icons bx bx-cart"></i>
                            <div data-i18n="Boxicons">Cart</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" asp-area="" asp-controller="Customer" asp-action="Index">
                            <i class="menu-icon tf-icons bx bx-user-circle"></i>
                            <div data-i18n="Boxicons">Account</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" asp-area="" asp-controller="Role" asp-action="Index">
                            <i class="menu-icon tf-icons bx bx-layer"></i>
                            <div data-i18n="Boxicons">Role</div>
                        </a>
                    </li>
                </ul>
            </aside>
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="bx bx-search fs-4 lh-0"></i>
                                <input type="text"
                                       class="form-control border-0 shadow-none"
                                       placeholder="Search..."
                                       aria-label="Search..." />
                            </div>
                        </div>
                        <!-- /Search -->
                    </div>
                </nav>

                @RenderBody()

                <!-- / Layout page -->
            </div>
            <!-- Overlay -->
        </div>
        <!-- / Layout wrapper -->
        <!-- Core JS -->
        <!-- build:js assets/vendor/js/core.js -->
        <script src="~/AdminLayout/vendor/libs/jquery/jquery.js"></script>
        <script src="~/AdminLayout/vendor/libs/popper/popper.js"></script>
        <script src="~/AdminLayout/vendor/js/bootstrap.js"></script>
        <script src="~/AdminLayout/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="~/Plusgin/tables/js/jquery.dataTables.min.js"></script>
        <script src="~/Plusgin/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
        <script src="~/Plusgin/tables/js/datatable-init/datatable-basic.min.js"></script>
        <script src="~/AdminLayout/vendor/js/menu.js"></script>
        <!-- endbuild -->
        <!-- Vendors JS -->
        <script src="~/AdminLayout/vendor/libs/apex-charts/apexcharts.js"></script>

        <!-- Main JS -->
        <script src="~/AdminLayout/js/main.js"></script>

        <!-- Page JS -->
        <script src="~/AdminLayout/js/dashboards-analytics.js"></script>

        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>