<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Camera Store">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cameras Digital Store</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/image/logo1.png" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/cameraStoreLayout/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/cameraStoreLayout/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/cameraStoreLayout/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/cameraStoreLayout/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/cameraStoreLayout/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/cameraStoreLayout/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/cameraStoreLayout/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/cameraStoreLayout/css/style.css" type="text/css">

</head>

<body>
    <header>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1">
                <div class="header__logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/image/logo1.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <nav class="header__menu mobile-menu">
                    <ul>
                            <li>
                                <a class="menu-link" asp-area="" asp-controller="Home" asp-action="Store">Shop</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">Product new</a></li>
                                    <li><a href="./shop-details.html">Product old</a></li>
                                    <li><a href="./shopping-cart.html">Accessory</a></li>
                                    <li><a href="./checkout.html">Sale</a></li>
                                </ul>
                         </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./blog.html">About us</a></li>
                            <li><a href="./contact.html">Contacts</a></li>
                    </ul>
                </nav>
            </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__menu mobile-menu">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    </div>
                </div>
                <div class="col-lg-1 col-md-1">
                    <div class="header__nav__option">
                        <img src="/cameraStoreLayout/img/icon/cart1.png" alt="" style="margin-left: 15px;width:30px;height:30px;display:block">                            
                        <span>Your Cart</span>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div b-hsukbasm6h="" class="qty" style="
                                    position: absolute;
                                    right: 20px;
                                    top: 5px;
                                    width: 20px;
                                    height: 20px;
                                    line-height: 20px;
                                    text-align: center;
                                    border-radius: 50%;
                                    font-size: 10px;
                                    color: #FFF;
                                    background-color: #D10024;">3
                                </div>
                                <div class="cart-dropdown">
                                    <div class="cart-list">
                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="~/image//04ddb9b6-e174-4f5d-b72f-4a561fc9f5230Now!.png" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                                <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                            </div>
                                        </div>

                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="~/image//04ddb9b6-e174-4f5d-b72f-4a561fc9f5230Now!.png" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                                <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                            </div>
                                        </div>
                                        <div class="cart-summary">
                                            <small>3 Item(s) selected</small>
                                            <h5>SUBTOTAL: $2940.00</h5>
                                        </div>
                                        <div class="cart-btns">
                                            <a asp-area="" asp-controller="CartDetail" asp-action="Cart">View Cart</a>
                                            <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="cart-dropdown">
                                <a style ="margin-left:40px"asp-area="" asp-controller="Authentication" asp-action="Login">Please login to view your cart</a>
                                </div>
                            }      
                    </div>
                </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="header__nav__option">
                        <img src="~/cameraStoreLayout/img/icon/user.png" alt="" style="margin-left: 10px;width:30px;height:30px;display:block">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span>Welcome, @ViewBag.FullName!</span>
                        }
                        else
                        {
                            <span>Account</span>
                        }


                        <div class="menus">
                            <ul id="menuItems">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <i class="fa fa-cog" aria-hidden="true"></i><a href="#">My account</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-book" aria-hidden="true"></i><a href="#">Order</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-comment" aria-hidden="true"></i><a href="#">Message</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-sign-out" aria-hidden="true"></i><a asp-area="" asp-controller="Authentication" asp-action="Logout">Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <i class="fa fa-sign-in" aria-hidden="true"></i><a asp-area="" asp-controller="Authentication" asp-action="Login">Login</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-registered" aria-hidden="true"></i><a asp-area="" asp-controller="Authentication" asp-action="Register">Register</a>
                                    </li>
                                }
                            </ul>
                        </div>

                        </div>
                </div>
            </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
    </header>
       @RenderBody()
    <!-- chatbot -->
    <div class ="chat_icon">
        <i class=" fa fa-comments" aria-hidden="true"></i>
    </div>

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-5">
                    <div class="footer__widget">
                        <h6>CAMERA STORE</h6>
                        <p>Camera Store is a place specializing in providing quality cameras and accessories from used to new products. Our products have been carefully inspected before being delivered to your hands. Our store's motto is "Customer satisfaction is our success".</p>                        
                        <a href="#"><img src="../cameraStoreLayout/img/payment.png" alt=""></a>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>Ninh Kieu District, Can Tho City </a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+84-123-321-123</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>tuyendtgcc200226@fpt.edu.vn</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="~/cameraStoreLayout/js/jquery-3.3.1.min.js"></script>
    <script src="~/cameraStoreLayout/js/bootstrap.min.js"></script>
    <script src="~/cameraStoreLayout/js/jquery.nice-select.min.js"></script>
    <script src="~/cameraStoreLayout/js/jquery.nicescroll.min.js"></script>
    <script src="~/cameraStoreLayout/js/jquery.magnific-popup.min.js"></script>
    <script src="~/cameraStoreLayout/js/jquery.countdown.min.js"></script>
    <script src="~/cameraStoreLayout/js/jquery.slicknav.js"></script>
    <script src="~/cameraStoreLayout/js/mixitup.min.js"></script>
    <script src="~/cameraStoreLayout/js/owl.carousel.min.js"></script>
    <script src="~/cameraStoreLayout/js/main.js"></script>
    <script type="text/javascript" scr=""></script>
    @RenderSection("Scripts", required: false)

</body>

</html>